# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ProceduralLandscape.iml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\ProceduralLandscape\.idea\.idea.ProceduralLandscape\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
